<div class="team-member">
	<div class = "bio-wrapper" data-id = "bio-wrapper">
		<div class = "bio-front face">
			{{ image }}
			<div class = "overlay" data-id="flip-card">
				<p>Read Biography</p>
				<img class = "icon" src = "{{scroll_icon}}" />
			</div>
		</div>
		<div class = "bio-back face">	
			{{ body }}
		</div>
	</div>
	<div class = "name-wrapper" data-id = "name-wrapper">
		<h3 class = "name face">{{ first_name }} {{ last_name }}</h3>
		<h3 class = "job-title face">{{ job_title }}</h3>
	</div>
</div>


