<div class="view-restoration-process-{{ nid }} view-restoration-block clearfix"> 
	<div class = "step-wrapper">
		<div class = "circle-outer"></div>
		<div class = "circle-inner">{{step}}</div>
	</div>
  	<div class = "content-wrapper">
  		<div class = "content">
	  		<h2>{{ title }}</h2>
	   		{{ body }}
   		</div>
	</div>
	<div class = "bg-image">
		{{bullets}}
		<div class = "overlay"></div>
	</div>
</div>

	