<div class="view-service-list-{{ nid }} clearfix"> 
  	<div class = "content-wrapper">
  		<div class = "content">
	  		<h2 class = "{{id}}">{{ title }}</h2>
	   		{{ body }}
   		</div>
	</div>
	<div class = "bg-image"><p class = "tagline">{{tagline}}</p></div>
	{# <div class = "overlay"></div> #}
</div>

	