{# <div id="featured-project"  class="featured-project clearfix" > #}
    <div class = "project-sidebar" data-id = "project-sidebar">
        <div class = "content">
            <div class = "pagers" data-id = "project-pagers">
                {{nav_pagers}}
            </div>
            {{ sidebar }}
            <ul class = "links" data-id = "project-links">
                {{nav_links}}
                {{value}}
            </ul>
        </div>
    </div>
    <div class = "project-slide-wrapper" data-id = "project-slides">
       <!--  <img class = "detail-large" src = "" /> -->
        {{ rows }}
    </div>
{# </div> #}
<div class = "clear"></div>